/* A simple stylesheet  */

video {
	left: 50%;
	height: 520px;
	width: 810px;
	padding-left: 320px;
}

#title {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: green;
}

h3 {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: green;
}

body {
	background-color: #21442b;
}
